* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: lightgray;
  background-image: url('https://cdn.pixabay.com/photo/2017/01/31/00/41/flowers-2022672_960_720.png');
  
  background-position: top right;
  background-repeat: no-repeat;
  
}
.entire-header{
  background-color:#57b846 ;
  margin-bottom: 10px;
}
header {
  margin: 20px 0px;
  width: 300px;
  color: white;
}
header a{
  color: white;
}
.menu-icon:hover{
  cursor: pointer;
}
.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-evenly;
  align-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.body-info {
  width: 300px;
  background-color: rgb(236, 236, 236);
  padding: 15px;
  border-radius: 5px;
}
input {
  width: 200px;
  align-self: center;
  margin: 10px 0px;
}
.side-bar {
  z-index: 1000;
  height: 89vh;
  width: 150px;
  background-color: #57b846;
  position: absolute;
  left: -200px;
  top:78px;
  transition: 500ms;
}
.side-bar-active {
  z-index: 1000;
  height: 89vh;
  width: 150px;
  background-color: #57b846;
  position: absolute;
  left: 0px;
  top:78px;
  transition: 500ms;
}
li a{
  font-size: 20px;
  color: white;
  margin: 20px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #57b846;
}

li {
  margin: 15px 0px
  
}
#mapPlacement {
  width: 100%;
  margin-left: 500px;
}
.error-message {
  color: rgb(245, 50, 50);
}
label {
  display: block;
}
input {
  border-radius: 20px;
  border:none;
  height: 30px;
  padding-left: 20px;
  font-size: 16px;
  width:200px;
  height: 40px;
}
.forms {
  background-color: rgb(236, 234, 234);
  border-radius: 15px;
  width: 300px;
  margin: auto;
  padding: 15px;
}
input:focus {
  outline-color: rgb(100, 160, 100);
}
.forms button {
  outline: none;
  border: none;

  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  
  align-items: center;
  padding: 0, 15px;
  width:200px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}
.forms button:hover {
  cursor: pointer;
}
.form-header{
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  width: 330px;
  display: flex;
  background-color:#57b846 ;
  height: 75px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 15px;
}
.login-link{
  width: 50px;
  height: 30px;
  padding: 3px 8px;
}
.login-link h3{
  font-size: 14px;
}
.search-btn{
  width: 200px;
  height: 50px;
  border-radius: 8px;
}
.search-page{
  background-color: rgb(223, 222, 222);
  width: 70%;
  margin: auto;
  padding: 15px;
  border-radius: 24px;
  }
.spot-card{
  background-color: rgb(243, 243, 243);
  margin: 10px;
  height: 80px;
  padding: 10px;
  border-radius: 4px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}