* {
  margin: 0px;
  padding: 0px;
}
body {
  height:100vh;
  width: 100vw;
  background-color: lightgray;
  font-family: 'Roboto Mono', monospace;
  /* background-image: url('https://cdn.pixabay.com/photo/2017/01/31/00/41/flowers-2022672_960_720.png'); */
  
  /* background-position: top right; */
  background-repeat: no-repeat;
  background-image: url('https://cdn.pixabay.com/photo/2020/12/02/00/57/mountain-5795883_1280.jpg');
  background-size: cover;
}
header h1{
  font-size: 26px;
}
.entire-header{
  
  margin-bottom: 10px;
 }
 .icon-div:hover{
  cursor: pointer;
 }
 .nav-color{
   background-color: #77BFA3;
 }
header {
  margin:5px 0px;
  width: 300px;
  color: white;
  text-justify: center;
  
}
header a{
  color: white;
  
}
.menu-icon:hover{
  cursor: pointer;
}
.flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
  text-justify: center;
  justify-content: space-evenly;
  align-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.body-info {
  /* width: 300px; */
  /* background-color: rgb(233, 233, 233); */
  padding: 15px;
  border-radius: 5px;
}
.icon-box{
  background-color: rgb(233, 233, 233,.9);
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 5px;

}
.icon-box h1{
  margin-bottom: 20px;
}
.icon-box a{
  margin: 30px;
  padding: 5px;
  transition: 400ms;
}
.icon-box a:hover{
  font-size: 18px;
  transition: 400ms;
}
input {
  width: 200px;
  align-self: center;
  margin: 10px 0px;
}
.side-bar {
  z-index: 500;
  height: 89vh;
  width: 180px;
  position: absolute;
  left: -200px;
  top:78px;
  transition: 500ms;
}
.side-bar-active {
  z-index: 500;
  height: 89vh;
  width: 180px;
  position: absolute;
  left: 0px;
  top:78px;
  transition: 500ms;
}
li a{
  font-size: 20px;
  color: white;
  margin: 20px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  /* color: #57b846; */
  color: #77BFA3;
}
#nearme{
  height: 100px;
  width: 100px;
}
li {
  margin: 15px 0px
  
}
.error-message {
  color: rgb(245, 50, 50);
}
label {
  display: block;
}
input {
  border-radius: 20px;
  border:none;
  height: 30px;
  padding-left: 20px;
  font-size: 16px;
  width:200px;
  height: 40px;
}
.forms {
  background-color: rgb(236, 234, 234);
  border-radius: 15px;
  width: 300px;
  margin: auto;
  padding: 15px;
}
input:focus {
  outline-color: rgb(100, 160, 100);
}
.forms button {
  outline: none;
  border: none;

  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  
  align-items: center;
  padding: 0, 15px;
  width:200px;
  height: 50px;
  /* background-color: #57b846; */
  background-color: #77BFA3;
  border-radius: 25px;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}
.forms button:hover {
  cursor: pointer;
}
.form-header{
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  width: 330px;
  display: flex;
  /* background-color:#57b846 ; */
  background-color: #77BFA3;
  height: 75px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 15px;
}
.form-msg{
  margin-bottom: 10px;
}
.login-link{
  width: 50px;
  height: 30px;
  padding: 3px 8px;
  margin-top: 15px;
}
.login-link h3{
  font-size: 14px;
}
.search-btn{
  position: relative;
  right: 35px;
  top: 8px;
  background: none;
  border: none;
}
.search-btn:hover{
  cursor: pointer;
}
.search-page{
  background-color: rgb(223, 222, 222,.8);
  width: 70%;
  margin: auto;
  padding: 15px;
  border-radius: 24px;
  }
.spot-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 243, 243);
  margin: 7px 20px;
  width:250px;
  padding: 15px;
  padding-right: 0px;
  border-radius: 4px;
  line-height: 26px;
}
.expand{
  position: relative;
  right: 0px;
  top:-15px;
}
.expand:hover{
  cursor: pointer;
}
.flex-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.modal{
  position:relative
}
.bookmark-btn:hover{
  cursor: pointer;
}
.logout{
  background:none;
  border: none;
  color: white;
  font-size: 18px;
}
.logout:hover{
  cursor: pointer;
}
.search-form{
  margin-left: 28px;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }

}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
.refresh-icon{
  animation-name: spin;
  animation-duration: 200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}